<% if @question.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <%= @question.errors.count %> Input error:
    </div>
    <ul>
    <% @question.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= f.label :info, "Info" %>
<%= f.text_field :info, class: 'form-control' %>

<%= f.label :response, "Response" %>
<%= f.text_field :response, class: 'form-control' %>

<%= f.label :questiontype, "Type" %>
<%= select :question, :questiontype, get_all_types.collect {|key, value| [ value, key ] } %>

<br/>

<%= f.label :pointssystem, "Point system" %>
<%= select :question, :pointssystem, get_all_pointssystem.collect {|key, value| [ value, key ] } %>

<br/>

<%= f.label :duration, "Duration (seconds)" %>
<%= f.text_field :duration, class: 'form-control' %>
