<ul class="questions">
  <% @questions.each do |question| %>
    <li>
      <%= question.info %> (<span id="left"><%= question.durationLeft.to_i %></span> seconds left)<br/>
      <%= form_with url: "/answer_value", method: :post do |form| %>
      
      <% if question.pointssystem == 1 %>
        <%= hidden_field_tag "points", 10 %>
      <% elsif question.pointssystem == 2 %>
        <%= form.label :points, "Points to bet:" %>
        0<%= form.range_field :points, min: 0, max: current_user.points, value: 1 %><%= current_user.points %>
        <br/>
      <% else %>
        
      <% end %>
      
        <%= hidden_field_tag "user_id", current_user.id %>
        <%= hidden_field_tag "question_id", question.id %>
        
        <% if question.questiontype == 1 %>
          <%= form.radio_button :response, '1', :checked => true %> Yes
          <%= form.radio_button :response, '0' %> No<br />
        <% elsif question.questiontype == 2 %>
          <%= form.label :response, "Value:" %>
          <%= form.text_field :response %><br />
        <% elsif question.questiontype == 3 %>
          <%= form.radio_button :response, '0', :checked => true %> YB
          <%= form.radio_button :response, '1' %> Guest<br />
        <% elsif question.questiontype == 4 %>
          
        <% end %>
        <br />
        <%= form.submit "Submit", :class => "btn btn-primary" %>
      <% end %>
    </li>
  <% end %>
</ul>