<script language="javascript" type="text/javascript">
setTimeout("location.reload();",3000);
</script>

<% provide(:title, 'My Questions') %>
<h1>Questions</h1>

<h2>Points: <%= @points %></h2>

<ul class="questions">
  <% @questions.each do |question| %>
    <li>
      <%= question.info %> (<%= question.durationLeft %>)<br/>
      Response:
      <% if question.questiontype == 1 %>
        <%= button_to 'Yes', {:controller => "answers", :action => "create", :response => 1, :question_id => question.id, :user_id=> session[:user_id]} , :method=>:post %>
        <%= button_to 'No', {:controller => "answers", :action => "create", :response => 0, :question_id => question.id, :user_id=> session[:user_id]} , :method=>:post %>
      <% elsif question.questiontype == 2 %>
        <%= form_with url: "/answer_value", method: :post do |form| %>
          <%= form.label :response, "Value:" %>
          <%= form.text_field :response %>
          <%= hidden_field_tag "user_id", current_user.id %>
          <%= hidden_field_tag "question_id", question.id %>
          <%= form.submit "Submit" %>
        <% end %>
      <% else %>
        todo
      <% end %>
    </li>
  <% end %>
</ul>

<h2>Already Answered</h2>
<ul class="questions">
  <% @answers_from_user.each do |answer| %>
    <li>
      <%= @questions_map[answer.id]&.info %>
      <%= answer.response %>
    </li>
  <% end %>
</ul>



